<div class="flex gap-4 text-center justify-center md:flex-row lg:gap-6 text-[#000] pb-10">
    &copy; {new Date().getFullYear()} Balneario La Pergola <span
      aria-hidden="true"
      class="hidden md:inline">|</span
    ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados.
  </div>
  