

.swiper {
    width: 100%;
    height: auto;
    background: #fff;
   
}

.swiper-slide{
    width: fit-content!important;
}


@media (min-width: 1024px) {

    .swiper{
        padding: 0 0 0 15.625vw!important;

    }


}
@media (max-width: 768px) {
    .swiper{
        padding: 0 0 0 100px!important;
    }

}



@media (max-width:320px) {
   
    .swiper-container {
         padding: 0 30px;
        }
    
        .swiper-slide{
            margin-right: 10px!important;
        }
    
        .swiper{
            padding: 0 30px!important;
        }
       
    }

.swiper-wrapper{
    padding-bottom: 40px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination, .swiper-pagination-fraction{
    bottom: 0px !important;
}
   
